#all-jobs {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .all-jobs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .load-more-btn {
    margin-top: 56px;
  }
}
