nav {
  background: url("../../../public/assets/desktop/bg-pattern-header.svg");
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  padding: 0 32px;
  .nav-contents {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
  }
  #theme-toggle {
    display: flex;
    align-items: center;
    svg {
      margin: 0 12px;
    }
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 48px;
      height: 24px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 3px;
      bottom: 3px;
      background-color: #5964e0;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      // background-color: #2196f3;
    }

    input:focus + .slider {
      // box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(24px);
      -ms-transform: translateX(24px);
      transform: translateX(24px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    background: url("../../../public/assets/tablet/bg-pattern-header.svg");
    .nav-contents {
      padding-top: 48px;
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 475px) {
  nav {
    background: url("../../../public/assets/mobile/bg-pattern-header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    .nav-contents {
      padding-top: 48px;
      align-items: flex-start;
    }
  }
}
