* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  transition: background-color 0.2s ease;
}

h1 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  color: #19202d;
}
h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #19202d;
}
h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #19202d;
}
h4 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #19202d;
}
p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #6e8098;
}

.App {
  min-height: 100vh;
  max-width: 100vw;
  padding-bottom: 100px;
  position: relative;
}

.button1 {
  background-color: #5964e0;
  padding: 16px 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;

  &:hover {
    background-color: #939bf4;
    cursor: pointer;
  }
}

#light {
  background-color: #f4f6f8;

  .jobcard {
    background-color: #fff;
  }
  .button2 {
    background-color: #5964e010;
    padding: 16px 40px;
    border: none;
    border-radius: 5px;
    color: #5964e0;
    font-weight: 700;
    font-size: 16px;

    &:hover {
      background-color: #5964e035;
      cursor: pointer;
    }
  }

  .search {
    background-color: #fff;

    input[type="text"],
    label {
      color: #19202d;
      ::placeholder {
        color: #19202d50;
      }
    }
  }
  .filter-icon path {
    fill: #6e8098;
  }

  .jobdetails-company,
  .jobdetails-position,
  .jobdetails-applyfooter {
    background-color: #fff;
    h1,
    h2,
    h3 {
      color: #000;
    }
  }
  .filterModal-container {
    .filterModal {
      background-color: #fff;
      color: #000;
    }
  }
}

#dark {
  background-color: #121721;
  .jobcard {
    background-color: #19202d;
    h3 {
      color: #fff;
    }
  }
  .button2 {
    background-color: #ffffff10;
    padding: 16px 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;

    &:hover {
      background-color: #ffffff35;
      cursor: pointer;
    }
  }
  .search {
    background-color: #19202d;

    input[type="text"],
    label {
      color: #ffffff;
      ::placeholder {
        color: #ffffff50;
      }
    }

    .filter-icon path {
      fill: #fff;
    }
  }
  .filterModal-container {
    .filterModal {
      background-color: #19202d;
      color: #fff;
    }
  }
  #jobdetails {
    .jobdetails-company,
    .jobdetails-position,
    .jobdetails-applyfooter {
      background-color: #19202d;
      h1,
      h2,
      h3 {
        color: #fff;
      }
    }
  }
}
